<div class="products">
  @for (product of products; track $index) {
    
      <div class="product">
        <div class="img">
          <img  class="images" src="{{product.img}}"/>
        </div>
        <div class="des">
          <h3 class="titolo">{{product.nome}}</h3>
          @for (allergene of product.allergeni; track $index) {
            <img src="{{allergeneImg(allergene)}}" alt="{{allergene}}" class="allergene">
          }
          @if (product.allergeni.length > 0) {
            <h3 class="ingredienti">{{product.ingredienti}}</h3>
          }@else{
            <h3 class="ingredienti" style="margin-top: 2rem;">{{product.ingredienti}}</h3>
          }
        </div>
        <div class="price">
          <h3>{{product.prezzo}}</h3>
        </div>
        <div class="selezione inl-flx">
          <button class="btn round">
            <img src="assets/edit.png" alt="modifica" (click)="editsetTrue(product)">
          </button>
          <button class="btn round delete" (click)="deleteProduct(product)">
            <img src="assets/delete.png" alt="cancella" id="delete">
          </button>
          
         </div>
      </div>
      }
      <div id="empty">
        <form [formGroup]="newProductForm" (submit)="handlePost()">
        <div class="product" id="newProduct" [style]="display.formValue">
          
          <div class="img">
            <input type="file" value="seleziona un immagine">
          </div>
          <div class="des">       
              <input type="text" formControlName="nome" placeholder="nome">
              <br>
              <br>
              <input type="text" formControlName="ingredienti" placeholder="ingredienti" class="ingredienti">
              <br>
              <br>
              <div class="allergeniInput">
              @for (allergene of allergeni; track $index) {
                <div class="checkbox">
                  <input type="checkbox" formControlName="{{allergene}}" id="{{allergene}}" value="{{allergene}}">
                  <label for="{{allergene}}">{{allergene}}</label>
                </div>
              }
            </div>
          </div>
          <div class="price" style="display: inline;">
            <input type="number"  formControlName="prezzo" placeholder="prezzo">
          </div>
          <button class="btn primary" type="submit">crea</button>
        
        </div>
      </form>
      </div>
      <div class="addProduct">
        <button class="btn round" (click)="display.toggle()" [style]="display.value">+</button>

      </div>
</div>
<div id="editDiv" [style]="displayEdit.value">
  <form [formGroup]="editProductForm" (submit)="handlePut()">
    <div class="product" id="editProduct" >
      
      <div class="img">
        <input type="file">
      </div>
      <div class="des">    
        <input type="text" class="titolo" placeholder="nome" formControlName="nome"> 
        <br><br>  
        <input type="text" class="ingredienti"  formControlName="ingredienti" placeholder="ingredienti"> 
        <br><br> 
          <div class="allergeniInput">
            @for (allergene of allergeni; track $index) {
              <div class="checkbox">
                <input type="checkbox" formControlName="{{allergene}}" id="edit{{allergene}}" value="{{allergene}}">
                <label for="{{allergene}}">{{allergene}}</label>
              </div>
            }
        </div>
      </div>
      <div class="price" style="display: inline;">
        <input type="text" formControlName="prezzo" id="editPrezzo" placeholder="prezzo">
      </div>
      <button class="btn primary" type="submit">modifica</button>
    </div>
  </form>
</div>
