<div id="options">
    <h1 id="scrittaOpzioni">Opzioni</h1>
    <form [formGroup]="optionsForm" (submit)="displayConfirm.toggle()" id="opzioniForm">
        <div id="colori">
            <div class="input" id="color1">
                <label for="first">colore primario</label>
                <input type="color" id="first" formControlName="primario">
            </div>
            <div id="color2" class="input">
                <label for="second">colore secondario</label>
                <input type="color" id="second" formControlName="secondario">
            </div>
            <div id="color3" class="input">
                <label for="third">colore terziario</label>
                <input type="color" id="third" formControlName="terziario">
            </div>
        </div>
       <div id="texts">
        <div id="text1" class="text">
            <h4 id="text1Title">testo 1</h4>
            <div id="fontsize1" class="textInput">
                <label for="font1">dimensione: {{optionsForm.value.grandi2}}px</label>  
                <input type="range"   id="font1" step="1" min="20" max="40" formControlName="grandi2">
            </div>
            <div id="family1" class="input">
                <label for="family1">font-family:</label>
                <select  id="family1" formControlName="font1">
                    @for (font of fonts; track $index) {
                        <option value="{{font}}">{{font}}</option>
                    }
                </select>
            </div>
        </div>
        <div id="text2" class="text">
            <h4 id="testo2Title">testo 2</h4>
            <div id="fontsize2" class="input">
                <label for="fontsize2">dimensione: {{optionsForm.value.grandi}}px</label>
                <input type="range" id="fontsize2" step="1" min="10" max="24" formControlName="grandi">
            </div>
            <div id="family2">
                <label for="family2">font-family:</label>
                <select id="family2" formControlName="font2">
                    @for (font of fonts; track $index) {
                        <option value="{{font}}">{{font}}</option>
                    }
                </select>
            </div>
        </div>
        <div id="text3" class="text">
            <h4 id="text3Title">testo 3</h4>
            <div id="fontsize3" class="input">
                <label for="fontsize3">dimensione: {{optionsForm.value.piccoli}}px</label>  
                <input type="range" id="fontsize3" step="1" min="8" max="20" formControlName="piccoli">
            </div>
            <div id="family3" class="input">
                <label for="family3">font-family:</label>
                <select id="family3" formControlName="font3">
                    @for (font of fonts; track $index) {
                        <option value="{{font}}">{{font}}</option>
                    }
                </select>
            </div>
        </div>
       </div>
        <div id="exampleProduct">
            <div id="examplePortataDiv">
                <h1 [style]="text1()" id="examplePortata">ANTIPASTI</h1>
            </div>
            
            <div id="optionsProduct">
                @if(optionsForm.value.immagine){<div class="infoButton">
                  <img
                    src="http://localhost:3000/img/infoProdotti.png"
                    alt="info sul piatto"
                    class="productInfoImg"
                  />
                </div>}
                <div class="productProprieties">
                  <h3 class="productName" [style]="text2()">nome</h3>
                  <h3 class="ingredienti" [style]="text3()">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                  @for (allergene of allergeni; track $index) {
                    <img
                    src="{{ allergeneImg(allergene) }}"
                    alt="cereali"
                    class="allergene"
                  />
                  }
                </div>
                <div class="priceDiv">
                  <h3 class="price text2">€12,50</h3>
                </div>
              </div>
        </div>
        <div id="optionsCheckbox">
            <div id="immagine" class="input">
                <label for="immagine">mostra immagine dei prodotti</label>
                <input type="checkbox" id="immagine" formControlName="immagine">     
            </div>
            <div id="copertoOption" class="input">
                <label for="copertoOption">mostra coperto/servizio</label>
                <input type="checkbox" id="copertoOption" formControlName="coperto">     
            </div>  
        </div>   
        
        <div id="optionsSubmitDiv">
            <button type="submit" id="optionsSubmit">conferma</button>
        </div>
        
    </form>
    <div id="optionsConfirmDiv" [style]="displayConfirm.value">
        <div id="optionsConfirm" >
            <h3 id="optionsConfirmTitle">Vuoi confermare le opzioni selezionate</h3>
            <button id="optionsConfirmAnnulla" (click)="displayConfirm.toggle()">annulla</button>
            <button id="optionsConfirmConferma" (click)="handleSubmit()">conferma</button>
        </div>
    </div>

    <form [formGroup]="imgForm">
        <div id="allergeni">
            @for (allergene of allergeni; track $index) {
                <div>
                    <input type="file" id="{{allergene}}" class="input" (change)="onImagePicked($event)">
                    <label for="{{allergene}}">logo {{allergene}}</label>
                </div>
            }
        </div>
        <div id="optionLogoDiv" class="input">
            <input type="file" id="Logo" (change)="onImagePicked($event)">
            <label for="Logo">logo del Ristorante</label>
        </div>
    </form>
</div>
