<div id="options">
    <h1>Opzioni</h1>
    <form [formGroup]="optionsForm" (submit)="handleSubmit()">
        <div class="input" id="color1">
            <label for="first">colore primario</label>
            <input type="color" id="first" formControlName="primario">
        </div>
        <div id="color2" class="input">
            <label for="second">colore secondario</label>
            <input type="color" id="second" formControlName="secondario">
        </div>
        <div id="color3" class="input">
            <label for="third">colore terziario</label>
            <input type="color" id="third" formControlName="terziario">
        </div>   
        <div id="immagine" class="input">
            <label for="immagine">mostra immagine dei prodotti</label>
            <input type="checkbox" id="immagine" formControlName="immagine">     
        </div>
        <div id="copertoOption" class="input">
            <label for="copertoOption">mostra coperto/servizio</label>
            <input type="checkbox" id="copertoOption" formControlName="coperto">     
        </div>
        <div id="fontsize1" class="input">
            <label for="fontG">grandezza caratteri grandi: {{optionsForm.value.grandi}}</label>
            <input type="range" id="fontG" step="1" min="10" max="24" formControlName="grandi">
            <span [style]="fontGrandi()">esempio</span>
        </div>
        <div id="fontsize2" class="input">
            <label for="font2P">grandezza caratteri piccoli: {{optionsForm.value.piccoli}}</label>  
            <input type="range" id="font2P" step="1" min="8" max="20" formControlName="piccoli">
            <span [style]="fontPiccoli()"> esempio</span>
        </div>
        <div id="fontsize3" class="input">
            <label for="font3P">grandezza caratteri piccoli: {{optionsForm.value.grandi2}}</label>  
            <input type="range" id="font3P" step="1" min="20" max="40" formControlName="grandi2">
            <span [style]="fontGrandi2()"> esempio</span>
        </div>
        <div id="font1" class="input">
            <label for="font1">primo font</label>
            <select name="font1" id="font1" formControlName="font1">
                @for (font of fonts; track $index) {
                    <option value="{{font}}">{{font}}</option>
                }
            </select>
        </div>
        <div id="font2" class="input">
            <label for="font2">secondo font</label>
            <select name="font2" id="font2" formControlName="font2">
                @for (font of fonts; track $index) {
                    <option value="{{font}}">{{font}}</option>
                }
            </select>
        </div>
        <div id="font3" class="input">
            <label for="font3">secondo font</label>
            <select name="font3" id="font3" formControlName="font3">
                @for (font of fonts; track $index) {
                    <option value="{{font}}">{{font}}</option>
                }
            </select>
        </div>
        <button type="submit" class="btn">conferma</button>
    </form>


    <form [formGroup]="imgForm">
        <div id="allergeni">
            @for (allergene of allergeni; track $index) {
                <div>
                    <input type="file" id="{{allergene}}" class="input" (change)="onImagePicked($event)">
                    <label for="{{allergene}}">logo {{allergene}}</label>
                </div>
            }
        </div>
        <div id="optionLogoDiv" class="input">
            <input type="file" id="Logo" (change)="onImagePicked($event)">
            <label for="Logo">logo del Ristorante</label>
        </div>
    </form>
</div>
