*{
    background-color: #508078;
    height: 75px;
    display: flex;
}
.logo {
    align-self: flex-start;
    width: 50%;
    height: 75%;
    margin: 7px;
}
.logo img{
        height: 100%;
        width: 100%; 
}


@media  only screen and (max-width: 430px){
    .all{
        width: 430px;
    }
}
