.left{
    position: fixed;
    left: 2%;
    bottom: 40%;
}
.left img{
    transform: rotate(180deg);
}
.right{
    position: fixed;
    right: 2%;
    bottom: 40%;
    z-index: 100;
}
div{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
div img{
    width: 100%;
}

@media only screen and (max-width: 430px){
    div{
        height: 10%;
        width: 10%;
    }
    .left{
        z-index: 0;
    }
}