<div id="pendings">
    <h2>
        Richieste Registrazione
    </h2>
    <table>
        <thead>
            <tr>
                <td>email</td>
                <td>permessi</td>
            </tr>
        </thead>
        <tbody>
            @for (account of pendings; track $index) {
                <tr class="pending">
                    <td>{{account.email}}</td>
                    <td>{{account.class}}</td>
                    <td><button class="btn" (click)="approve(account)">accetta richiesta</button></td>
                    <td><button class="btn" (click)="reject(account)">rifiuta richiesta</button></td> 
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="users">
    <h2>Utenti Registrati</h2>
    <table>
        <thead>
            <tr>
                <td>email</td>
                <td>permessi</td>
            </tr>
        </thead>
        <tbody>
            @for (account of users; track $index) {
                <tr class="user">
                    <td>{{account.email}}</td>
                    <td>{{account.class}}</td>
                    <td><button class="btn" (click)="removeAccount(account)">rimuovi account</button></td>
                    <td><button (click)="toggleSuspension(account)">
                        @if (account.status == "on") {
                            sospendi
                        }@else if(account.status == "suspended") {
                            riabilita
                        }
                    </button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
