<div id="accessiComponent">
    <div id="serverSwitch">
        <button (click)="displaySwitchConfirm.toggle()">@if(isOn){rendi il menu non disponibile}@else{ rendi il menu disponibile}</button>
    </div>
    <div id="serverSwitchConfirmDiv" [style]="displaySwitchConfirm.value">
        <div id="serverSwitchConfirm">
            <h3 id="serverSwitchConfirmTitle">@if(isOn){
                Vuoi rendere il menu non disponibile al publico
            }@else {
                Vuoi rendere il menu di nuovo disponibile al publico?
            }</h3>
            <button id="serverSwitchConfirmDeny" (click)="displaySwitchConfirm.toggle()">annulla</button>
            <button id="serverSwitchConfirmConfirm" (click)="switch()">conferma</button>
        </div>
    </div>
    <div id="pendings">
        <h2 id="pendingTitle">
            Richieste Registrazione
        </h2>
        <table id="pendingTable">
            <thead id="pendingTableHead">
                <tr class="pendingRow">
                    <td class="pendingData">nome</td>
                    <td class="pendingData">email</td>
                    <td class="pendingData">data di creazione</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="pendingTableBody">
                @for (account of pendings; track $index) {
                    <tr  class="pendingRow">
                        <td class="pendingData">{{account.nome}}</td>
                        <td class="pendingData">{{account.email}}</td>
                        <td class="pendingData">{{account.date}}</td>
                        <td class="pendingData"><button class="accettaPending" (click)="displayAcceptPending.setTrue(account)">accetta richiesta</button></td>
                        <td class="pendingData"><button class="rifiutaPending" (click)="displayRejectPending.setTrue(account)">rifiuta richiesta</button></td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="confermaRifiutoPendingDiv" [style]="displayRejectPending.value">
        <div id="confermaRifiutoPending" >
            <h3 id="confermaRifiutoPendingTitle">Vuoi rifiutare la richiesta di iscrizione dell'account?</h3>
            <button id="confermaRifiutoPendingAnnulla"  (click)="displayRejectPending.setFalse()">annulla</button>
            <button id="confermaRifiutoPendingConferma" (click)="reject(displayRejectPending.account)">conferma</button>
        </div>
    </div>
    <div id="confermaAccettaPendingDiv" [style]="displayAcceptPending.value">
        <div id="confermaAccettaPending" >
            <h3 id="confermaAccettaPendingTitle">Vuoi accettare la richiesta di iscrizione dell'account?</h3>
            <button id="confermaAccettaPendingAnnulla" (click)="displayAcceptPending.setFalse()">annulla</button>
            <button id="confermaAccettaPendingConferma" (click)="approve(displayAcceptPending.account)">conferma</button>
        </div>
    </div>
    
    <div id="users">
        <h2 id="usersTitle">Utenti Registrati</h2>
        <table id="usersTable">
            <thead id="usersTableHead">
                <tr class="usersRow">
                    <td class="usersData">nome</td>
                    <td class="usersData">email</td>
                    <td class="usersData">permessi</td>
                    <td class="usersData">data di creazioni</td>
                    <td class="usersData"></td>
                    <td class="usersData"></td>
                </tr>
            </thead>
            <tbody id="usersTableBody">
                @for (account of users; track $index) {
                    <tr class="usersRow">
                        <td class="usersData">{{account.nome}}</td>
                        <td class="usersData">{{account.email}}</td>
                        <td class="usersData">{{account.class}}</td>
                        <td class="usersData">{{account.date}}</td>
                        <td class="usersData"><button class="rimuoviAccount" (click)="displayRemoveAccount.setTrue(account)">rimuovi account</button></td>
                        <td class="usersData"><button class="sospendi" (click)="toggleSuspension(account)">
                            @if (account.status == "on") {
                                sospendi
                            }@else if(account.status == "suspended") {
                                riabilita
                            }
                        </button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="confermaRimuoviAccountDiv" [style]="displayRemoveAccount.value">
    <div id="confermaRimuoviAccount" >
        <h3 id="confermaRimuoviAccountTitle">Vuoi rimuovere l account definitivamente?</h3>
        <button id="confermaRimuoviAccountAnnulla" (click)="displayRemoveAccount.setFalse()">annulla</button>
        <button id="confermaRimuoviAccountConferma" (click)="removeAccount(displayRemoveAccount.account)">conferma</button>
    </div>
    </div>
</div>