<div id="portateComponent">
    <ul id="portate">
        @for (page of pages; track $index) {
            <li class="portata" id="{{page}}">
                <span class="portataName">{{page}}</span> 
                <button (click)="displayDeletePortata.setTrue(page)" class="deletePage">
                    <img src="assets/delete.png" alt="" id="deletePageImg">
                </button>
            </li>
        }
        <li id="newPageButtonDiv">
            <button (click)="display.toggle()" [style]="display.value" id="newPageButton">
                <img src="http://localhost:3000/img/add.png" alt="crea nuova portata"  id="newPageImg">
            </button>
        </li>
        <li [style]="display.formValue" id="newPage" class="portata">
            <button (click)="display.toggle()" id="newPageAnnulla">ANNULLA</button>
            <form (submit)="handlePost()" [formGroup]="newPage" id="newPageForm">
                <input type="text" formControlName="newPage">
                <button type="submit" id="newPageSubmit">crea</button>
            </form>
        </li>
    </ul>
    <div id="confermaRimuoviAccountDiv" [style]="displayDeletePortata.value">
        <div id="confermaRimuoviAccount">
            <h3 id="confermaRimuoviAccountTitle">Vuoi cancellare la portata selezionata</h3>
            <button id="confermaRimuoviAccountAnnulla" (click)="displayDeletePortata.setFalse()">annulla</button>
            <button id="confermaRimuoviAccountConferma" (click)="deleteRoute(displayDeletePortata.portata)">conferma</button>
        </div>
    </div>
</div>
