/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif;
    flex-shrink: 1;
}
body{
    margin: 0;
    max-width: 100%;
}
.btn, #btn{
    cursor: pointer;
    background-color: #508078;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px;
}
.btn:active{
    cursor: pointer;
    background-color: #6d8581;
}
.round{
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
}
@media only screen and (max-width: 250px) {
    *{
        flex-shrink: 0;
    }
}