/* You can add global styles to this file, and also import other style files */
:root{
    --primario: ;
    --secondario: ;
    --terziario: ;
    --immagine: inline-flex;
    --coperto: flex;
    --piccoli: 16px;
    --grandi: 20px;
    --grandi2: 40px;
    --font1: ;
    --font2: ;
    --font3: ;
}
*{
    font-family: var(--font1);
    flex-shrink: 1;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
}
table{
    border-spacing: 0;
}
/*menu lauout*/

/*custom classes*/
.text1{
    font-family: var(--font3);
    font-size: var(--grandi2);
}
.text2{
    font-family: var(--font2);
    font-size: var(--grandi);
}
.text3{
    font-family: var(--font1);
    font-size: var(--piccoli);
}
/*custom classes*/


/*home*/
#home{
    display: flex;
    width: 100%;
    height: 100%;
    
}
#homeDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-between;
    gap: 5em;
    overflow: hidden;
    margin: 3%;
}
#homeLogoDiv, #Menu, #lenguageForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#lingua{
    font-weight: normal;
    text-align: center;
    width: 100%;
}
#Menu{
    font-family: var(--font2);
    cursor: pointer;
    color: var(--primario);
}
#homeLogoDiv{
    width: 100%;
}
#homeLogo{
    width: 15%;
}   
@media only screen and (max-width: 900px) {
    #homeLogo{
        width: 30%;
    }
    #homeLogoDiv{
        margin-top: 5%;
    }
}
@media only screen and (max-width: 450px){
    #homeLogo{
        width: 50%;
    }
    #homeLogoDiv{
        margin-top: 45%;
    }
}


/*end home*/


/*navigate*/
#navigate{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5em;
}
#navigateLogoDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}
#navigateLogo{
    height: 11em;   
}
#navigateNav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 1.5em;
    flex-wrap: wrap;
    padding: 0;
}
.navigatePageDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navigatePage{
    border-radius: 50px;
    padding: 0.2em 0.7em;
    font-size: var(--grandi2);
    color: var(--primario);
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    border: hidden 2px var(--primario);
}
.navigatePage:hover{
    border:  solid 2px var(--primario);
    
}
#navigateAllergeni{
    color: var(--secondario);
    background-color: var(--primario);
    font-size: var(--grandi);
    padding: 0.2em 0.4em;
    width: 10em;
    margin-top: 0.2em;
}
/*end navigate*/


/*navbar*/
#nav{
    background-color: var(--secondario);
    width: 95%;
    position: fixed;
    top: 0;
    gap: 2em;
    padding: 2% 0;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    z-index: 3;
    overflow-x: scroll;
}
#nav::-webkit-scrollbar,  #configNav::-webkit-scrollbar{
    display: none;
  }
#nav .span,#configNav .span{
 color: var(--primario);
 padding: 0.5% 1%;
 text-transform: uppercase;
 font-weight: bold;
 height: 2em;
 display: flex;
 align-content: center;
}
@media (hover: Hover){
    #nav .span:hover,#configNav .span:hover{
    cursor: pointer;
    color: var(--secondario);
    background-color: var(--primario);
    border-radius: 50px;
    }
}

@media only screen and (max-width: 700px){
    #nav, #configNav{
        height: 10%;
        padding: 5%;
    }
    #nav .span,#configNav .span{
        padding: 2% 5%;
    }
}
/*active route style*/
#nav .active, #configNav .active{
    cursor: pointer;
    color: var(--secondario);
    background-color: var(--primario);
    border-radius: 50px;
}
/*end nav*/

/*footer*/
 #footer{
    z-index: 3;
    position: fixed;
    bottom: 0;
    background-color: var(--secondario);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#pages{
    display: inline-flex;
    justify-content: center;
    padding-bottom: 1%;
    overflow-x: scroll;
    width: 40%;
    gap: 7%;
    margin-bottom: 1rem;
}   
#pages::-webkit-scrollbar {
    display: none;
  }
.page{
    position:relative;
    width:1em;
    aspect-ratio: 1/1;
    background:var(--primario);
    border-radius:50%;
    cursor: pointer;
}
.footerActive{

    background: var(--primario );
    opacity: 0.5;
}
#coperto{
    width: 90%;
    margin: 0 5%;
    font-weight: normal;
    text-align: end;
    display: var(--coperto);
}
@media only screen and (max-width: 700px){
    #footer{
        height: 12%;
    }
    #pages{
        margin-bottom: 3em;
        height: 1.5em;
        gap: 10%;
    }
    .page{
        height: 1em;
        width: 1em;
    }
}
/*end footer*/

/*allergeni*/
#allergeniComponent{
    margin: 8% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#ALLERGENI{
    text-align: center;
    color: var(--primario);
    width: 100%;
    margin-bottom: 10%;
}
#allergeniImgs{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 4%;
}
.allergeneImg{
    aspect-ratio: 1/1;
    width: 20%;
}
#prevAllergeniDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2em;
    margin-top: 20%;
}
#prevAllergeni{
    display: flex;
    background-color: var(--primario);
    height: 100%;
    border: none;
    border-radius: 50px;
    padding: 0 3em;
}
#prevAllergeniImg{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 600px){
    #allergeniComponent{
        margin: 30% 0;
    }
    #ALLERGENI{
        margin-bottom: 20%;
    }
}
/*end allergeni*/

/*grid*/
.portataHeader{
    width: 100%;
    text-align: center;
}

.girdWrapper{
    width: 100%;
}
#grid{
    position: absolute;
    margin: 8% 0;
    display: flex;
    left: 0%;
    overflow: hidden;
    width: 100%;
}
#portateDiv{
    display: inline-flex;
    overflow-x:visible;
    width: 100%;
}
.productsDiv{
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.products{
    width: 75%;
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 8%;
}
.product{
    display: inline-flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 1em;
}
.infoButton{
    overflow: hidden;
    border-radius: 50%;
    display: var(--immagine);
    align-self: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    height: 100%;
    margin-right: 5%;
    z-index: 2;
}
.productInfoImg{
    background-color: var(--primario);
    aspect-ratio: 1/1;
    width: 3em;
}
.productName{
    font-size: var(--grandi);
    text-transform: uppercase;
    font-weight: bold;
}
.ingredienti{
    font-size: var(--piccoli);
    font-weight:normal;
}
.price{
    font-weight: normal;
}
.allergene{
    height: 2em;
}
.productProprieties{
    width: 80%;
}

.prevProducts, .nextProducts{
    position: absolute;
    width: 80%;
}
.prevProducts{
    right: 100%;
}
.nextProducts{
    left: 100%;
}
@media only screen and (max-width: 700px){
    #grid{
        margin: 0;
        padding: 25% 0;
    }
    .allergene{
        height: 1.5em;
    }

}

/*end grid*/


/*info product*/
#productInfo{
    z-index: 4;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#productInfoDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
}
#productImg{
    width: 35%;
}
#productImgDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#productInfoProprietiesDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#productInfoProprieties{
    width: 35%;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: var(--secondario);
}
#productInfoName{
    font-size: var(--grandi);
    text-transform: uppercase;
}
#productInfoIngredienti{
    font-size: var(--piccoli);
    font-weight: normal;
}
#productInfoPrice{
    font-weight: normal;
    font-size: var(--grandi);
}
.productInfoAllergeni{
    height: 2em;
}
#closeInfo{
    display: flex;
    justify-content: center;
    width: 100%;
}
#closeInfoButton{
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid var(--primario);
    border-radius: 50%;
    color: var(--primario);
    font-weight: 300;
    cursor: pointer;
    position: relative;
    left: 16%;
}
/*end info product*/



#configNav{
    background-color: var(--secondario);
    width: 95%;
    position: fixed;
    top: 0;
    gap: 2em;
    padding: 2% 0;
    margin-left: 5%;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    z-index: 3;
    overflow-x: scroll;
}


/*config products*/
#configProducts{
    display: flex;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 0;
    margin-top: 3em;
    margin-top: 8%;
    margin-left: 5%;
}
.configProduct{
    display: inline-flex;
    flex-basis: 75%;
    justify-content: center;
}
.configAllergene{
    height: 1.5em;
    width: 1.5em;
}
.configImg{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: var(--immagine);
}
.configImgDiv{
    height: 7em;
    width: 7em;
}
.configDes{
    width: 50%;
    margin: 0 1em;
}
.configName{
    font-size: var(--grandi);
    font-weight: bold;
    text-transform: uppercase;
}
.configIngredienti{
    font-size: var(--piccoli);
    font-weight: normal;
}
.configPrice{
    font-weight: normal;
    font-size: var(--grandi);
}
.configPriceDiv{
    width: 4em;
}
.editButton, .deleteButton{
    background-color: var(--primario);
    border-radius: 1em;
    height: 3em;
    width: 3em;
    cursor: pointer;
    border: none;
    
}
.configButtons{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-between;
    position: relative;
    right: 0;
    gap: 0.3em;
}
#confirmDeleteProductDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
#confirmDeleteProduct{
    background-color: white;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
#confirmDeleteProductTitle{
    width: 100%;
    text-align: center;
}
#confirmDeleteProductAnnulla{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    margin-right: 20%;
}
#confirmDeleteProductConferma{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}
#configCopertoDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#configCoperto{
    text-align: center;
    
}
#modificaCoperto{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}
#eliminaCoperto{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    border: none;
    margin-right: 1em;
}
#eliminaCoperto img, #modificaCoperto img{
    height: 3em;
    width: 3em;
}
#copertoForm{
    width: 100%;
    display: flex;
    justify-content: center;
}
#copertoForm button{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}
#configHeaderDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#eliminaHeader{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    border: none;
    margin-right: 1em;
}
#modificaHeader{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}
#eliminaHeader img, #modificaHeader img{
    height: 3em;
    width: 3em;
}
#configHeaderForm{
    width: 100%;
    display: flex;
    justify-content: center;
}
#configHeaderForm button{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}
/*end config products*/


/*newProduct*/
#addProductDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#addProduct{
    background-color: var(--primario);
    color: var(--secondario);
    font-weight: bolder;
    font-size: var(--grandi);
    border-radius: 1em;
    cursor: pointer;
    border: none;
    width: 2em;
}
#newProduct{
    display: inline-flex;
}
#newImg{
    display: none;
}
#newImgLabel{
    width: 6em;
}
#empty{
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
}
#newDes{
    display: block;
}
#newSubmit{
    color: var(--secondario);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primario);
    border-radius: 1em;
    cursor: pointer;
    border: none;
}
#newProductImgDiv{
    display: var(--immagine);
}
#newAllergeni{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}
#annullaNewProduct{
    border: none;
    color: var(--secondario);
    background-color: var(--primario);  
    border-radius: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
}
#annullaNewProductDiv{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
/*end new product*/




/* modifica portate*/
#portateComponent{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    padding: 5%;
}
#portate{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: var(--primario);
    font-size: var(--grandi2);
    text-transform: uppercase;
    align-content: space-between;
    gap: 0.5em;
}
.portata{
    display: flex;
    width: 100%;
    justify-content: center;
}
.portataName{
    width: 25%;
    font-weight: normal;
}
.deletePage{
    border: none;
    background-color: var(--primario);
    border-radius: 0.8em;
    height: 3em;
    aspect-ratio: 1/1;
    cursor: pointer;
    justify-self: flex-end;
}
#newPageButtonDiv{
    width: 100%;
    display: flex;
    justify-content: center;

}
#newPageButton{
    background-color: var(--primario);
    color: var(--secondario);
    border: none;
    border-radius: 0.3em;
    font-size: x-large;
    cursor: pointer;
    aspect-ratio: 1/1;
    
}
#newPageImg{
    padding: 0;
    width: 2em;
    aspect-ratio: 1/1;
}
#deletePageImg{
    height: 2em;
    width: 2em;
}
#newPageAnnulla{
    color: white;
    background-color:rgb(33, 37, 41) ;
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.3em;
    font-size: 15px;
}
#newPageSubmit{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.3em;
    font-size: 15px;
}

/*end modifica portate*/



/*login*/
#loginDiv{
    margin: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#login{
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);;
    display: flex;
    padding: 1em 3em;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;

}
#loginTitle{
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}
#registerbutton{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    color: rgb(13, 110, 253);
}
#loginForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap:0.2em;
}
#loginEmail, #loginPassword{
    width: 100%;
    display: flex;
    justify-content: center;
}
#inputEmail, #inputPassword{
    border-radius:5px ;
    border: 1px solid lightslategray ;
    padding: 0.5em;
}
#loginPasswordImg, #loginEmailImg{
    height: 2em;
}
#loginSubmit{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.3em;
    font-size: 15px;
}
#invalid{
    width: 100%;
    text-align: center;
    color: red;
    font-weight: normal;
    font-size: var(--piccoli);
}
/*end login*/


/*edit product*/
#editProductDiv{
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    backdrop-filter: blur(5px);
}
#editProductForm{
    display: flex;
    width: 55%;
    flex-wrap: wrap;
}
#editImgDiv{
    width: 100%;
}
#editProduct{
    display: flex;
    padding: 0.3em;
    background-color: white;
    width: 100%;
    height: 100%;
}
/*end edit product*/


/*sign-in*/
#signInDiv{
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
#signInForm{
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 1em 3em;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    align-content: space-between;
    gap: 0.5em;
}
#signInNome, #signInEmail, #signInPassword, #passwordConfirm{
    width: 100%;
    display: flex;
    justify-content: center;
}
#registrati{
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}
#signInSubmit{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.3em;
    font-size: 15px;
}

#emailNonValida,#passwordNonValida{
    width: 100%;
    text-align: center;
    color: red;
    font-weight: normal;
    font-size: var(--piccoli);
}
/*end sign-in*/

/*sidenav*/
#sideNavDiv{
    height: 100%;
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    width: 5%;
    min-width: 5%;
    background-color:rgb(33, 37, 41) ;
    border-right: solid white 1px;
    display: flex;
}
#sideNav{
    list-style-type: none;
    padding: 0;
}
.sideNavLi:hover{
    cursor: pointer;
    
}
.sideNavLi{
    aspect-ratio: 1/1;
    width: 80%;
    margin: 10%;
}
/*end sidenav*/

/*options*/
#options{
    margin-left: 5%;
    width: 95%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}
#scrittaOpzioni{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#opzioniForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#colori{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    justify-items: space-between;
    gap: 10%;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 5%;
}
#color1 , #color2, #color3 {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}
#color1 label , #color2 label, #color3 label{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#exampleProduct{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 5%;
}
#examplePortataDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#examplePortata{
    padding: 0.3em 0.5em;
    cursor: pointer;
    color: var(--secondario);
    background-color: var(--primario);
    border-radius: 50px;
    margin: 3% 0;
}
#optionsProduct{
    display: inline-flex;
    width: 70%;
    height: fit-content;
    margin-bottom: 1em;
    
   padding: 1em 2em;
}

#texts{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 7%;
    flex-wrap: wrap;
}
#text1Title,#text2Title,#text3Title{
    width: 100%;
    text-align: center;
}
#fontsize1,#fontsize2,#fontsize3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#fontsize1 input,#fontsize2 input,#fontsize3 input{
    width: 70%;
}
#family1,#family2,#family3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#family1 label,#family2 label,#family3 label{
    width: 100%;
    text-align: center;
}
.text{
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    width: 25%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
#optionsCheckbox{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 3em 1em;
    margin-bottom: 5%;
}
#optionsSubmitDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
#optionsSubmit{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.3em;
    font-size: 20px;
    text-transform: uppercase ;
}
#optionsConfirmDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
#optionsConfirm{
    background-color: white;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
#optionsConfirmTitle{
    width: 100%;
    text-align: center;
}
#optionsConfirmAnnulla{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    margin-right: 20%;
}
#optionsConfirmConferma{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}
/*end options*/

/*accessi*/

#accessiComponent{
    margin-left: 5%;
    padding: 5%;
}
#pendingTitle, #usersTitle{
    width: 90%;
    text-align: center;
}
#pendingTable{
    width: 90%;
    max-width: 90%;
    border: rgb(33, 37, 41) solid 1px;
    margin-bottom: 5%;
}
.pendingData{
    padding: 0.5em;
    text-align: center;
    border: rgb(33, 37, 41) solid 1px;
}
#pendingTableHead .pendingRow{
    background-color: rgb(33, 37, 41);
    color: white;
    gap: 0;
}
#usersTable{
    width: 90%;
    max-width: 90%;
    border: rgb(33, 37, 41) solid 1px
}
.usersData{
    padding: 0.5em;
    text-align: center;
    border: rgb(33, 37, 41) solid 1px;
}
#usersTableHead .usersRow{
    background-color: rgb(33, 37, 41);
    color: white;
    gap: 0;
}
#serverSwitch{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#serverSwitch button{
    color: white;
    background-color: rgb(253, 50, 13);
    text-transform: uppercase;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#serverSwitchConfirmDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#serverSwitchConfirm{
    background-color: white;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
#serverSwitchConfirmTitle{
    width: 100%;
    text-align: center;
}
#serverSwitchConfirmDeny{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    margin-right: 20%;
}
#serverSwitchConfirmConfirm{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}

#confermaRifiutoPendingDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
#confermaRifiutoPending{
    background-color: white;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
#confermaRifiutoPendingTitle{
    width: 100%;
    text-align: center;
}
#confermaRifiutoPendingAnnulla{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    margin-right: 20%;
}
#confermaRifiutoPendingConferma{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}

#confermaAccettaPendingDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
#confermaAccettaPending{
    background-color: white;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
#confermaAccettaPendingTitle{
    width: 100%;
    text-align: center;
}
#confermaAccettaPendingAnnulla{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    margin-right: 20%;
}
#confermaAccettaPendingConferma{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}

#confermaRimuoviAccountDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
#confermaRimuoviAccount{
    background-color: white;
    height: 10em;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
#confermaRimuoviAccountTitle{
    width: 100%;
    text-align: center;
}
#confermaRimuoviAccountAnnulla{
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 10px;
    margin-right: 20%;
}
#confermaRimuoviAccountConferma{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 10px;
}

.accettaPending, .rifiutaPending, .sospendi, .rimuoviAccount{
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    padding: 0.2em 0.5em;
}


/*end accessi*/
