<ul class="nav">
    @for (page of pages; track $index) {
        <li class="{{page}} span" [routerLink]="[pageRoute($index, pages)]">
            {{page}}
        </li>
        <button class="btn round" (click)="deletePage(page)">X</button>
    }
    <li>
        <button class="btn round" [style]="display.value" (click)="display.toggle()">+</button>
    </li>
    <li>
        <div class="form" [style]="display.formValue">
            <form onsubmit="return false;">
                <input type="text" id="newPageInput">
                <input type="submit" (click)="postPage()">
            </form>
        </div>
        

    </li>
    <li>
        <button class="btn" (click)="sideDisplay.toggle()">
            <img src="assets/menu.png" id="sideNavMenu">
        </button>
    </li>
</ul>
<div id="sideNavBox" [style]="sideDisplay.value">
    <ul id="sideNav">
        <button class="btn" id="x" (click)="sideDisplay.toggle()">
            <img src="assets/X.png" id="x">
        </button>
        <li>
            <a class="span" [routerLink]="['..','options']">opzioni</a>
        </li>
        <li>
            <a class="span">accessi</a>
        </li>
        <li>
            <a class="span" (click)="menuClick()">logout</a>
        </li>
    </ul>
</div>
