<ul class="nav">
    @for (page of pages; track $index) {
        <li class="{{page}} span" [routerLink]="[pageRoute($index, pages)]">
            {{page}}
        </li>
        <button class="btn round" (click)="deletePage(page)">X</button>
    }
    <li>
        <button class="btn round" [style]="display.value" (click)="display.toggle()">+</button>
    </li>
    <li>
        <div class="form" [style]="display.formValue">
            <form onsubmit="return false;">
                <input type="text" id="newPageInput">
                <input type="submit" (click)="postPage()">
            </form>
        </div>
        

    </li>
    <li>
        
    </li>
</ul>

