a{
    text-decoration: none;
    color: black;
  }
  .nav{
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      padding: 0;
  }
  .span{
      padding: 0 10px;
      background-color: white;
  }
  .span:hover{
      box-sizing: border-box;
      color: #508078;
      cursor: pointer;
      justify-self: center;
  }
#delete{
    width: 2em;
    height: 2em;
}

#sideNavMenu{
    height: 3em;
}
#sideNavBox{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    z-index: 1000;
}
#sideNav{
    list-style-type: none;
}
#x{
    height: 2em;
}