<button class="btn" (click)="sideDisplay.toggle()" id="navbutton">
    <img src="assets/menu.png" id="sideNavMenu">
</button>
<div id="sideNavBox" [style]="sideDisplay.value">
    <ul id="sideNav">
        <button class="btn" id="x" (click)="sideDisplay.toggle()">
            <img src="assets/X.png" id="x">
        </button>
        <li>
            <span class="span" [routerLink]="['options']">opzioni</span>
        </li>
        <li>
            <span class="span" [routerLink]="['accessi']">area proprietario</span>
        </li>
        <li>
            <span class="span" [routerLink]="['menu', pages[0]]">menu</span>
        </li>
        <li>
            <span [routerLink]="['portate']">modifica le portate</span>
        </li>
        <li>
            <a href="http://localhost:4200/menu/{{pages[0]}}">ritorna al menu</a>
        </li>
        
        <li>
            <span>acccount: <br> {{account.email}}</span>
            <br>
            <span>permessi: <br>{{account.class}}</span>
            <br>
            <button class="btn" (click)="menuClick()">logout</button>
        </li>

    </ul>
</div>
