<div id="sideNavDiv" >
    <ul id="sideNav">
        <li class="sideNavLi"  id="sideNavRitorna">
            <a href="http://localhost:4200/menu/{{pages[0]}}">
                <img src="{{env.serverImg + 'home.png' }}" alt="ritorna al menu">
            </a>
        </li>
        <li [routerLink]="['options']" class="sideNavLi" id="sideNavOptions">
            <img src="{{env.serverImg + 'options.png' }}" alt="opzioni">
        </li>
        <li [routerLink]="['accessi']" class="sideNavLi" id="sideNavSuper">
            <img src="{{env.serverImg + 'super.png' }}" alt="area direttore">
        </li>
        <li [routerLink]="['menu', pages[0]]" class="sideNavLi" id="sideNavMenu">
            <img src="{{env.serverImg + 'menu.png' }}" alt="modifica il menu">
        </li>
        <li [routerLink]="['portate']" class="sideNavLi" id="sideNavPortate">
            <img src="{{env.serverImg + 'portate.png' }}" alt="modifica le portate">
        </li>
        
        
        <li class="sideNavLi"  id="sideNavLogout" (click)="menuClick()">
            <img src="{{env.serverImg + 'logout.png' }}" alt="effettua il logout">
        </li>
    </ul>
</div>
