<div id="navigate">
    <div id="navigateLogoDiv">
        <img src="http://localhost:3000/img/Logo.png" alt="" id="navigateLogo">
    </div>
    <ul id="navigateNav">
        @for (page of pages; track $index) {
            <li class="navigatePageDiv" [routerLink]="['..' , 'menu', page]">
                <span class="navigatePage text1">{{page}}</span>
            </li>
        }
        <li class="navigatePage text2" id="navigateAllergeni" [routerLink]="['..', 'menu' , 'allergeni']">
            allergeni
        </li>
    </ul>
</div>